.Feedback {
  background: rgb(248, 248, 248);
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem 0.2rem 1rem;
}

.Feedback-comment {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  font-size: 1.5rem;
}

.Feedback-user-info {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: right;
  font-size: 1rem;
}
